header{
    text-align:center;
    background: #B0D4B8;
}

body {
    background: #D7F9FA;
    margin: 0;
    padding: 0;

  }

  main{
    background: #EAE7D6;
    display: block;
    font-size: 14px;
    height: 50%;
    width: 100%;
    position: relative;
    margin: auto;
    border: 5px solid rgb(75, 237, 205); 
  }

  text{
    text-align:center;
    display: block;
  }

  img{
    width:450px; 
    height:300px;
    display: block;
    margin: auto;
  }

  video {
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
  }

  footer{
    text-align:center;
    display: block;
    
  }
